<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar-lewagon">
      <div class="nav-button-group">
       <h5 class="nav-button"><%= link_to "Movies", movies_path %></h5>
       <h5 class="nav-button"><%= link_to "Bookmarks", bookmarks_path %></h5>
       <h5 class="nav-button"><%= link_to "Lists", lists_path %></h5>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
